/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: 0.6px;
    background-color: #F5F5F5;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    
}

h1 {
    margin: 0;
    padding: 10px 0;
    background-color: #E01E33;
    font-size: 24px;
    font-weight: normal;
    color: #fff;
}

button {
    letter-spacing: 0.6px;
}

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 3px solid #E01E33;
}

.tab-content {
    width: 97%;
    margin: 105px auto 10px;
}

.profile-container {
    padding: 0 5px;
}

.profile {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 5px #aaa;
}

.profile-image > img {
    display: block;
    width: 100%;
}

.btn-close {
    position: absolute;
    right: 7px;
}

.profile-info {
    position: absolute;
    bottom: 45px;
    padding: 0 7px;
    font-size: 13px;
    text-shadow: 0 0 2px #000;
    color: #fff;
}

.profile-info p {
    margin: 0;
}

.profile-details {
    font-size: 10px;
    font-weight: 100;
}

.profile-action {
    display: flex;
}

.profile-action > button,
.profile-message > button {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.profile-action > button {
    width: 50%;
    border: 0;
    background-color: #fff;
    outline: 0;
    border-radius: 5px;
}

.profile-action > button:first-child {
    border-right: 1px solid #ddd;
}

/* .profile-action > button:last-child {
    border-left: 1px solid #ddd;
} */

.btn {
    padding: 10px 30px;
    border: 0;
    border-radius: 50px;
    background-color: #00C0FF;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    outline: none;
}

.limit-box,
.hidden-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.hidden-filter {
    filter: blur(10px);
}

.hidden-overlay {
    position: absolute;
    top: 100px;
    z-index: 4;
    background-color: rgba(255,255,255,.8);
    
}

.hidden-container {
    width: 70%;
    margin: 50px auto 0;
    text-align: center;
}

.hidden-container p {
    font-size: 16px;
}

.hidden-container .num-hidden {
    line-height: 1;
    font-size: 120px;
    color: #E01E33;
}

.btn-update {
    margin-top: 20px;
}

.limit-container {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    left: 0;
    right: 0;
    width: 70%;
    max-width: 320px;
    margin: 0 auto;
    padding: 10px 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}

.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size:12px;
    margin: 0 30px;
    padding: 2px 0;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}



/** Stealth Page **/

body.stealth__body {
    background: #292836;
}
.stealth {
    height: 98vh;
    width: 98vw;
}

.stealth .container {
    background: #292836;
}

.stealth * {
    color: #B3AFAF;
}

.stealth h1 {
    background: none;
    text-transform: none;
    text-align: center;
    color: #FFFFFF;
    padding: 2em 0 0.5em;
}

.stealth p {
    text-transform: none;
    text-align: center;
    padding-bottom: 1em;
    color: #B3AFAF;
}

.row:first-child {
    margin-bottom: 2em;
}

.row:last-child {
    margin-top: 1em;
}

.doughnut__label {
    padding: 0.5em 0 0;
    margin: 0 auto;
    width: 25%;
}

.doughnut__value {
    position: absolute;
    top: 32%;
    left: 40%;
    color: #FFFFFF;
    font-size: 1.2em;
}

.time__value {
    color: #FFFFFF;
    font-size: 1.1em;
    padding: 1em;
}

.stealth button {
    text-align: center;
    border-radius: 1.5em;
    width: 130px;
    margin: 3em auto;
    position: relative;
    display: block;
    color: #FFFFFF;
    padding: 1em 2em;
}

canvas {
    margin: 0 auto;
}